.pace {
    display: none;
}

.main-style {
    min-height: 100vh;
    background: url(../img/cover/cover-scrum-board.png) no-repeat fixed;
    background-size: 360px;
    background-position: right bottom;
}

.bread {
    padding: 1rem 0;
    display: flex;
    justify-content: space-between;
}

.first-color {
    background-color: #D9D9D9;
}

.second-color {
    background-color: #F3F3F3;
}

.blue-color {
    background-color: #5692EC;
}

.icon {
    position: relative;
    top: 41%;
}

.fa-spinner {
    color: green;
}