:root {
    --bg-color: #C1C8E4;
    --white-color: #EEE2DC;
    --grey-color: #84CEEB;
    --blue-color: #5680E9;
    --red-color: #8860D0;
    --yellow-color: #ECD06F;
    --violet-color: #8860D0;
    /* --bg-color: #EDC7B7;
    --white-color: #EEE2DC;
    --grey-color: #BAB2B5;
    --blue-color: #123C69;
    --red-color: #AC3B61;
    --yellow-color: #ECD06F;
    --violet-color: #7E78D2; */
}

.logo {
    font-family: 'Poppins', sans-serif;
    /* font-size: 2rem; */
    /* font-weight: bold; */
    padding-bottom: 0;
    margin-bottom: 0;
}

.navbar-brand {
    padding-bottom: 0;
    margin-bottom: 0;
}

.btn-scroll-to-top {
    position: fixed;
    right: 1rem;
    bottom: 1rem;
    cursor: pointer;
}

.pace {
    display: none;
}

.main-style {
    background-color: var(--white-color);
    min-height: 100vh;
    /* background: url(../img/cover/cover-scrum-board.png) no-repeat fixed; */
    background-size: 360px;
    background-position: right bottom;
}

/* .list-header-color {
    background-color: var(--red-color) !important;
} */

.bread {
    padding: 1rem 0;
    display: flex;
    justify-content: space-between;
}

.first-color {
    background-color: var(--blue-color) !important;
}

.btn-add-task {
    background-color: var(--red-color) !important;
    --bs-btn-border-color: none;
}

.card {
    --bs-card-border-color: none !important;
}

.second-color {
    background-color: var(--bg-color);
}

.blue-color {
    background-color: #5692EC;
    margin-right: .4rem;
}

.icon {
    position: relative;
    top: 32%;
}

.fa-check {
    color: green;
}

.fa-spinner {
    color: var(--blue-color);
}

.fa-hourglass-start {
    color: #6c757D;
}

.text-limit {
    word-wrap: break-word;
    width: 16rem;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    /* number of lines to show */
    line-clamp: 2;
    -webkit-box-orient: vertical;
}